body {
    font-size: 150%;
}

td.but {
    text-align: center;
    padding: 0 0.2em 0 0.2em;
    background: #AAA;
    border-style: solid;
    border-color: #CCC #888 #888 #CCC;
}

    td.but:hover {
        border-style: solid;
        border-color: #DDB #997 #997 #DDB;
        background: #BB9;
    }

    td.but:active {
        border-style: solid;
        border-color: #888 #CCC #CCC #888;
        background: #BBB;
    }

td.but-br {
    text-align: center;
    padding: 0 0.2em 0 0.2em;
    background: #CCC;
    border-style: solid;
    border-color: #EEE #AAA #AAA #EEE;
}

    td.but-br:hover {
        border-style: solid;
        border-color: #EEB #AA7 #AA7 #EEB;
        background: #CC9;
    }

    td.but-br:active {
        border-style: solid;
        border-color: #AAA #EEE #EEE #AAA;
        background: #BBB;
    }

td.display {
    text-align: left;
    border-style: solid;
    border-color: #888 #CCC #CCC #888;
    background: white;
}

td.entry {
    text-align: left;
    border-style: none;
    background: white;
}

table.calc {
    border-collapse: separate;
    border-spacing: 0.1em !important;
}

